* {
    padding: 0;
    margin: 0;

}

.navHeader {
    display: flex;
    justify-content:space-between ;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: 600;
}

.stockerLogo{
    margin-left: 40px;
    margin-top: 20px;
}
.about{
    margin-right: 40px;
    margin-top: 20px;
}




/*center container */

.centerContainer {
    
    background-image:  linear-gradient(180deg, rgb(0, 0, 0), rgb(10, 0, 96));
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerHeading{
    color: white;
    font-size: 100px;
}

.inputArea{
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
      }
      
      .inputArea {
        font-family: inherit;
        font-size: inherit;
        background-color: #f4f2f2;
        border: none;
        color: #646464;
        padding: 0.7rem 1rem;
        border-radius: 30px;
        width: 12em;
        transition: all ease-in-out .5s;
        margin-right: -2rem;
      }
      
      .inputArea:hover, .inputArea:focus {
        box-shadow: 0 0 1em #00000013;
      }
      
      .inputArea:focus {
        outline: none;
        background-color: #f0eeee;
      }
      
      .inputArea::-webkit-input-placeholder {
        font-weight: 100;
        color: #ccc;
      }
      
      .inputArea:focus {
        background-color: #f0eeee;
      }
     
.inputSubmit{
    display: flex;
    flex-direction: column;
}