* {
    padding: 0;
    margin: 0;

}

.navHeader {
    display: flex;
    justify-content:space-between ;
    background: rgb(0, 0, 0);
    color: white;
    font-weight: 600;
}

.stockerLogo{
    margin-left: 40px;
    margin-top: 20px;
}
.about{
    margin-right: 40px;
    margin-top: 20px;
}




/*center container */

.centerContainer {
    
    background-image:  linear-gradient(180deg, rgb(0, 0, 0), rgb(10, 0, 96));
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerHeading{
    color: white;
    font-size: 100px;
}

.inputArea{
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
      }
      
      .inputArea {
        font-family: inherit;
        font-size: inherit;
        background-color: #f4f2f2;
        border: none;
        color: #646464;
        padding: 0.7rem 1rem;
        border-radius: 30px;
        width: 20em;
        transition: all ease-in-out .5s;
        margin-right: -2rem;
      }
      
      .inputArea:hover, .inputArea:focus {
        box-shadow: 0 0 1em #00000013;
      }
      
      .inputArea:focus {
        outline: none;
        background-color: #f0eeee;
      }
      
      .inputArea::-webkit-input-placeholder {
        font-weight: 100;
        color: #ccc;
      }
      
      .inputArea:focus {
        background-color: #f0eeee;
      }
     

/*submit button*/
.inputSubmit button {
    border: none;
    cursor: pointer;
    color: #090808;
    background-image: linear-gradient(30deg, #f3f2f2, #e9e9e9);
    border-radius: 50%;
    /* background-size: 100% ; */
    font-family: inherit;
    /* font-size: 17px; */
    /*editing */
    /* height: 2rem; */
    /* line-height:10px; */
    /* padding: 2rem 3rem; */
    width: ;
   }
   
   button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #ffffff;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
  }

      
.inputSubmit{
    display: flex;
    flex-direction: row;
}