* {
    padding: 0;
    margin: 0;

}

.navHeader {
    display: flex;
    justify-content:space-between ;
    background: rgb(255, 255, 255);
}

.stockerLogo{
    margin-left: 40px;
    margin-top: 20px;
}
.about{
    margin-right: 40px;
    margin-top: 20px;
}




/*center container */

.centerContainer {
    
    background-image:  linear-gradient(180deg, rgb(0, 0, 0), rgb(18, 7, 118));
    height: 100vh;
}
