* {
    padding: 0;
    margin: 0;

}

.navHeader {
    display: flex;
    justify-content:space-between ;
    background: white
    ;
}

.stockerLogo{
    margin-left: 40px;
    margin-top: 20px;
}
.about{
    margin-right: 40px;
    margin-top: 20px;
}

